#landscapeImage {
  position: relative;
  /* overflow: hidden; */
  /* align-content: center; */
  border: solid rgb(0, 0, 0) 7px;
  border-top-left-radius: 20px 5px;
  border-top-right-radius: 20px 5px;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

#infoBox {
  /* border: solid black 3px; */
  margin: 10px 0 0 12px;
  padding: 10px 0 0 12px;
  /* background-image: url("../../public/images/assets/borders.png");
  background-size: 100% 100%; */
}

p {
  color: rgb(158, 158, 158);
  text-align: justify;
}

h2 {
  color: rgb(194, 194, 194);
}

#landscape {
  position: relative;
  /* top: 0;
  left: 0; */
  max-width: 100%;
  max-height: 100%;
  /* z-index: -1; */
}

#cornerLeftTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#cornerRightTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#cornerLeftBot {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#cornerRightBot {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  /* box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.5); */
  z-index: 2;
}

ul {
  list-style-type: square;
  color: rgb(180, 180, 180);
}

/* #text {
  border: red solid 1px;
} */
@media only screen and (max-width: 575px) {
  #text {
    max-width: 300px;
  }
  #landscapeImage {
    border: solid rgb(0, 0, 0) 4px;
  }
}
